article {
    flex: 200px;
}

body {
    color: #454545;
    font-family: "Open Sans";
    margin: 0px;
    height: 100vh;
}

h1 {
    font-size: 30px;
}

h3 {
    padding-bottom: 0px;
}

p {
    width: 100%;
    font-size: 14px;
    margin: 0px;
}

a:link {
    text-decoration: none;
}

a:visited, a:link {
    color: #fff;
    text-decoration: none;
}

a:hover,
a:focus {
    color: cornflowerblue;
    transition: color .4s;
}

.flex-wrapper
a:visited,
a:link {
    color: #121212;
    text-decoration: none;
}

.flex-wrapper
a:hover,
a:focus {
    color: #fff;
}

.wrapper {
    display: grid;
    grid-template-columns: 300px auto;
    height: inherit;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;

    background-color: #121212;
    border-right: medium solid #64a2f2;

    padding-top: 30px;

    align-content: center;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar-logo {
    padding-bottom: 20px;
}

.sidebar-items li {
    padding-bottom: 10px;
}

.main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;

    padding-top: 30px;
    padding-left: 50px;
    padding-right: 10%;

    width: 500px;
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    height: auto;
}

.card {
    display: grid;
    grid-template-rows: 75% 25%;
    margin-right: 50px;
    margin-bottom: 50px;
}

.preview img {
    width: 100%;
    background-color: #64a2f2;
    border-radius: 5px 5px 0px 0px;
}



.description {
    font-size: auto;
    padding-left: 25px;
    margin: 0px;
    background-color: salmon;
    border-radius: 0px 0px 5px 5px;
}

.description h3 {
    margin-bottom: 0px;
}

#kopimi {
    position: absolute;
    bottom: 25px;
    right: 25px;
}