article {
    flex: 200px;
}

body {
    color: #454545;
    font-family: "Open Sans";
    margin: 0px;
    height: 100vh;
}

h1 {
    font-size: 30px;
    margin-top: auto;
}

h3 {
    padding-bottom: 0px;
}

p {
    width: 100%;
    font-size: 14px;
    margin: 0px;
}

a:visited, a:link {
    color: #fff;
    text-decoration: none;
}

a:hover,
a:focus {
    color: cornflowerblue;
    transition: color .4s;
}

.flex-wrapper
a:visited,
.flex-wrapper
a:link {
    color: #121212;
    text-decoration: none;
}

.flex-wrapper
a:hover,
.flex-wrapper
a:focus {
    color: #fff;
}

.wrapper {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 100%;
    height: inherit;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;

    background-color: #121212;
    border-right: medium solid #64a2f2;

    align-content: center;
}

nav {
    padding: 30px;
}

.sidebar ul, ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
}

.sidebar-logo {
    padding-bottom: 20px;
}

.sidebar-items li {
    padding-bottom: 10px;
}

.main-wrapper {
    display: grid;
    grid-template-rows: auto 30px;
    grid-template-columns: auto;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;

    width: 100%;
}

.main-text {
    width: 50%;
    padding: 30px;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
}

.main-footer {
    size: auto;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    /* min-width: 300px; */
    max-width: 500px;
}

.preview{
    width: 100%;
    background-color: #64a2f2;
    border-radius: 3px 3px 0px 0px;
}

.description {
    padding: 10px;
    margin: 0px;
    background-color: #a0c334;
    border-radius: 0px 0px 3px 3px;
}

.description h3, .description p {
    font-size: 15px;
    margin: 0px;
}

#kopimi {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

/*
*
* MOBILE
*
*/

@media (min-width: 300px){

}

@media (max-width: 450px) {
    
    body{
        background-color: #f7f7f7
    }

    .wrapper {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 100%;
        grid-template-rows: 0px auto 30px;
        width: 100%;
    }

    .flex-wrapper {
        padding-top: 65px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .main-wrapper {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
    }

    .main-text {
        width: calc(100% - 60px);
    }

    .main-footer {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
    }

    .sidebar{
        display: none;
    }

    .sidebar-top {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
    
        background-color: #ffffff00;
        /* border-bottom: medium solid #64a2f2; */
        
        position: fixed;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        margin-top: 10px;
    }

    .sidebar-top i { /**USE TEXT PROPERTIES FOR ICONS DUMBASS**/
        color: #a0c334;
        font-size: 40px;
        margin: 0px;
        padding-right: 17.5px;
        align-items: center;
    }

    .card {
        margin: 0;
        padding-bottom: 20px;
    }

    /* .preview, .description{
        border-radius: 0px 0px 0px 0px;
    } */

    #clickme {
        width: 100%;
        margin-top: 80px;
        text-align: center;
        color: #a0c334;
        font-size: 10vw;
    }

    #kopimi {
        position: static;
        padding: 20px;
        float: right;
    }
}